#content {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/background01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;
}

.header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 5rem;
  font-weight: bold;
  justify-content: center;
}

button {
  padding: 10px;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: white;
}

button:hover {
  color: red;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 1vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.currentTab {
  flex-grow: 1;
  margin: 3rem 10rem;
  background-color: rgba(0, 0, 0, 0.5);
}

footer > img {
  max-width: 5vw;
  max-height: 10vh;
  position: absolute;
  left: 10%;
  bottom: 1px;
}

footer {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  gap: 1vh;
  color: white;
}

footer p {
  margin: 0;
  padding: 0;
}

#githubLogo {
  width: 1.5em;
  height: auto;
}

#homeTab {
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 2vh;
  gap: 1vw;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: justify;
}

#homeTab h1 {
  font-size: 4rem;
  text-align: center;
}

#homeTab img {
  object-fit: cover;
  width: 100%;
  max-height: 70%;
  align-self: center;
  justify-self: center;
}

#homeImg {
  height: 100%;
  background-image: url("../assets/background02.jpg");
  background-size: cover;
  background-position: center;
}

#homeTab :nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
